body {
    background-color: #232323;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    color: white;
}

h3 {
    font-size: 22px;
    color: dodgerblue;
}

h2 {
    color: dodgerblue;
}

/*------------------------------ NavBar Start -------------------------------*/

.navbar {
    padding: 15px 18px !important;
    position: relative;
    z-index: 2;

    

}

.logo{
    font-weight: 600px;
    color: dodgerblue !important;
    

}

.nav-item{
    margin: 0px 10px;
    

}

.nav-item .nav-link {
    color: rgba(155, 155, 155, 0.92);
    font-size: 14px;
    font-weight: 500;
    
}

.navbar-nav .nav-link.active {
    color: #ffffff;
}

/*------------------------------ Jumbotron Start ------------------------------*/

.jumbotron {
    background-color: transparent;
    background-size: cover;
    position: relative;
    
}

.jumbotron-header {
    color: dodgerblue;
    font-weight: bold;
    margin-bottom: 30px;
}

.jumbotron .lead {
    margin: 25px 0;
    color: #ffffff;

}

.jumbotron small {
    font-size: 60%;
    font-style: italic;
    color:#ffffff


}

/*------------------------------ Jumbotron End ------------------------------*/

/*------------------------------ Start Hero Image - Home Page ------------------------------*/

.callout-container {
    height: 100vh;
    max-width: 100%;

    background: url(../images/Boxer.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    
    
    display: -webkit-box;
    
    display: -ms-flexbox;
    
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    position: relative;

}

    .opaque-overlay {
        position: absolute; 
        width: 100%; 
        height: 100%;
        top: auto;
        left: 0;
        right: 0;
        bottom: auto;
        background-color: rgba(0,0,0,0.5); 
}
/*------------------------------ End Hero Image - Home Page ------------------------------*/
/* This style was taken from the "Whiskey Drop" project I completed for Code Institute. All credit to Code Institute.*/

/*------------------------------ Containers Start ------------------------------*/

.container-wrapper {
    color: white;
}

.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
}

.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
    background-color: #444;
}

.block-divider--short {
    width:35px;
}

.block-divider--white {
    background-color: white;
}

/*------------------------------ Containers End ------------------------------*/

/*------------------------------ Features Start ------------------------------*/

.feature {
    text-align: center;
    margin-bottom: 40px;
}

.feature i {
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 45px;
}

.features-container {
    padding-top: 75px;
    padding-bottom: 150px;
}

.page-header {
    text-align: center;
    position: relative;
    margin-bottom: 40px;
}

i {
    color:white
}

.feature .h3 {
    color: dodgerblue;
}

/*------------------------------ Features End ------------------------------*/
